<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="de.nordakademie.wpk.tasklist.product"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/de.nordakademie.wpk.tasklist.product/css/default.css">
         </property>
         <property
               name="appName"
               value="de.nordakademie.wpk.tasklist.product">
         </property>
         <property
         	name="applicationXMI"
         	value="de.nordakademie.wpk.tasklist.product/Application.e4xmi">
         </property>
         <property
               name="aboutImage"
               value="icons/icon48.png">
         </property>
         <property
               name="windowImages"
               value="icons/icon16.png,icons/icon32.png,icons/icon48.png">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
